#-----------------------#
#   Webserv Ignores     #
#-----------------------#

# files without ext
*
!/**/
!*.*

# vscode
.vscode
README.md
.DS_Store

# make
a.out
*.o

# c++ debuger
*.dSYM
ft*.out

# don't ignore
!Makefile